.carousel {
    height: 70vh;
    background-image: url(./img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(0.5); */
}

.circle {
    width: 150px;
    height: 150px;
}

footer {
    height: 18vh;
}
